* {
    margin: 0;
    padding: 0;
}

:root {
    --cta-greencolor: #48B343;
    --secondarycolor: #2c2c2c;
    --textcolor: #1E1E1E;
    --textmutedcolor: #757575;
    --hovercolorone: #3C9436;
    --hovercolortwo: #E3E3E3;
    --border: #D9D9D9;
}

body {
    font-family: "Inter", sans-serif;
}

/* Header */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border); 
    height: 10vh;
    width: 100vw;
    
}

.button:hover {
    background-color: var(--textcolor);
    color: white;
}

/* MAIN */

body > main > article.Products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

body > main > article.infos{
    display: flex;
    flex-direction: column;
}
body > main > article.infos > div > a{
    position: relative;
    left: 85rem;
    bottom: 2rem;
}
.Products img {
    height: 60%;
    width: 100%
}
.first{
    border: 1px solid ;
border-radius: 1rem;
    grid-column: 1 span;
    grid-row: 1 span;
    height: 15rem;
    width: 20rem;
    padding: 20px ;
}
.second{
    border: 1px solid ;
    border-radius: 1rem;
    grid-column: 2 span;
    grid-row: 1 span;
}
.checkbox1{
    border: 1px solid;
    
}
.third{
    border: 1px solid ;
    border-radius: 1rem;
    padding: 20px;
}
.four{
    border: 1px solid ;
    border-radius: 1rem;
}
.five{
    border: 1px solid ;
    border-radius: 1rem;
}
.six{
    border: 1px solid ;
    border-radius: 1rem;
}
button{
    position: relative;
    left: 15rem;
}







.oneimg {
    grid-column: 1 span;
    grid-row: 1 span;
    height: 2rem;
    width: 4rem;
}

.twoimg {
    grid-column: 2 span;
    grid-row: 1 span;
} */

    footer {
        display: flex;
        justify-content: center;
        height: 10vh;
    }
    
    ol {
        list-style: none;
        display: flex;
        gap: 5px;
        position: relative;
        top: 10rem;
        left: 35rem;
    }
    
    ol li {
        width: 40px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ol .firstpage {
        background-color: #2C2C2C;
        border-radius: 10px;
        color: white;
    }
    ol li:hover {
        background-color: #E3E3E3;
        border-radius: 10px;
    }
    
}